* {
    margin: 0;
    padding: 0;
}


.card
{
    position: relative;
    top:20px;
    left:10px;
}

img{
    width: 300px;
    height:300px;
    object-fit: cover;

}

.discount{
    padding: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 9px;
    left: 227px;

}

.opac{
    width: 300px;
    height: 100px;
    background-color: rgba(190, 189, 189 , 0.8);
    display: flex;
    position:absolute;
    top:220px;
    left: 10px;
    justify-content: center;
    align-items: center;
}

#add{
    background-color: white;
    padding: 10px;
}