*{
    margin-top: 0;
    margin-bottom: 0;
}

.container
{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.card{
    width: 200px;
    height: 320px;
    box-shadow: 0 0 3px gray;
    padding-right:0; 
    margin: 10px;
}
h3, #btn, p{
    margin-top: 10px;
    margin-left: 10px ;
}
.img1{
    width: 200px;
    height: 200px;
    vertical-align: middle;
    object-fit: fill;
    
}

.img2{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    object-fit: fill;
    border-radius: 50%;
    margin-left: 10px;
    
}
p{
    display: inline;
    margin-top: 10px;
    color: grey;
}
.btn {
    padding: 8px 20px 8px 20px;
    background-color: rgb(44, 54, 163);
    color:white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }