
label{
    color: gray;
  
}
input{
    display: block;
    width: 400px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border-radius: 5PX;
    border: 2px solid rgb(62, 49, 49);

}

p{
    color:grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

button{
    background-color: rgb(40, 95, 224);
    text-align: center;
    color: white;
    font-weight: bold ;
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 30px;
}