*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid gray;
  width: 350px;
}


.row{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    text-align: center;
}
.num {
    width: auto;
    height: auto;
    padding:2px 10px 2px 10px;
    color: white;
    font-weight: bold;
    border:none;
    background-color: rgb(52, 52, 158);
    border-radius: 10px;
}

P{
    font-weight: bold;
}
