@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

h1{
    font-size: 40px;
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
   
}

span{
    text-decoration: underline;
}