body{
    font-family: Arial, Helvetica, sans-serif;
}
#p1{
 font-weight: bold;
 font-size: 30px;
 margin-bottom: 0;
 padding-bottom: 0;
}
#p2{
color: green;
}
#p3{
color: grey;
}

#sp1{
color:grey;
font-size: 20px;
}

#sp2{
color:red;
}